{% extends 'base.html' %} {% block body %}
  <h2>Add a movie to my library</h2>
  <hr />
  <main>
    <form action="/add" method="POST">
      <p>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" />
      </p>

      <p>
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" />
      </p>
      <p>

        <label for="time">Time in minutes:</label>
        <input type="text" id="time" name="time" />
      </p>

      <p>
        <label>Genre:</label>
        <label for="comedy">
          <input
            type="radio"
            id="comedy"
            name="genre"
            value="comedy"
            required="required"
          />
          Comedy
        </label>

        <label for="action">
          <input
            type="radio"
            id="action"
            name="genre"
            value="action"
            required="required"
          />
          Action
        </label>
      </p>

      <fieldset>
        <legend>Viewing Expirience:</legend>
        <label for="movie">
          <input
            type="checkbox"
            id="movie"
            name="movie"
            value="bought"
          />
          I bought this movie
        </label>

        <label for="movie">
          <input
            type="checkbox"
            id="movie"
            name="movie"
            value="stream"
          />
          I streamed this movie
        </label>

        <label for="movie">
          <input
            type="checkbox"
            id="movie"
            name="movie"
            value="theater"
          />
          I watched this in theater
        </label>

        <label for="movie">
            <input
              type="checkbox"
              id="movie"
              name="movie"
              value="again"
            />
            I would watch this movie again
          </label>
      </fieldset>

      <p>
        <label for="service">
          What streaming service movie is this on?
          <select name="service" id="service" required>
            <option value="" selected>- Select option -</option>
            <option value="Hulu">Hulu</option>
            <option value="Netflix">Netflix</option>
            <option value="Amazon Prime">Amazon Prime</option>
            <option value="None">None</option>
          </select>
        </label>
        <p><input type="submit" id="submit" value="Add Movie" /></p>
      </p>
      

    </form>

    <br /><br />
    {% if movies %}

  <h2>List of Movies</h2>

  <hr />

  <table border="1">

    <thead>

      <tr>

        <th>Title</th>

        <th>Director</th>

        <th>Time in minutes</th>

        <th>Genre</th>

        <th>Viewing Experience</th>

        <th>Streaming Service</th>

      </tr>

    </thead>

 

    <tbody>

      {% for movie in movies %}

      <tr>

        <td>{{ movie.title }}</td>

        <td>{{ movie.director }}</td>

        <td>{{ movie.time }}</td>

        <td>{{ movie.genre }}</td>

        <td>{{ movie.viewing }}</td>

        <td>{{ movie.streaming }}</td>

      </tr>

      {% endfor %}

    </tbody>

  </table>

  {% endif %}

</main>

{% endblock %}